html{
    scroll-behavior: smooth;
}

body{
    background: url("images/apple2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    color: rgb(102, 202, 107);
}

/* 
=========================
    STYLES FOR HOME
=========================
*/

#home-container{
    text-align: center;
}

#logo-home{
    margin-top: 150px;
    font-family: 'Dancing Script', cursive;
    font-size: 4em;
}

#home-text{
    margin-top: 180px;
}


a:hover{
    text-decoration: none;
}

/* BUTTON */
#home-button1 {
    border-radius: 4px;
    background-color: rgb(102, 202, 107);
    border: none;
    color: #111;
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #home-button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  #home-button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #home-button1:hover span {
    padding-right: 25px;
  }
  
  #home-button1:hover span:after {
    opacity: 1;
    right: 0;
  }

  /* LOGIN BUTTON */
  .button {
    position: relative;
    background-color: #4CAF50;
    border-radius: 4px;
    border: none;
    font-size: 18px;
    color: #111;
    padding: 5px;
    width: 100px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }